*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primaryColor: #1A4D2E;
    --secondaryColor: #4F6F52;
    --bodyColor: #DAC0A3;
    --textColor: 
}

header{
    background-color: var(--secondaryColor);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px;
}

header > div{
    display: flex;
    align-items: center;
    gap: 40px;
    padding: 10px;
}

.headerFont{
    font-size: larger;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    color: #E8DFCA;
}

.headerBTN{
    background-color:#ffffff00;
    border-style: none;
}

.headerBTN:hover{
    cursor: pointer;
}

body{
    background-color: #E8DFCA;
}

body > section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    padding: 40px;
}

.bodyFont{
    font-size: larger;
    font-family: Arial, Helvetica, sans-serif;
    color: #0b1b12;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 15px;
}

.bodyImg{
    max-width: 70%;
    width: 70%;
    border-radius: 20px;
}

.imgDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    padding: 0;
}

.imgDiv > a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    padding: 0;
}

.imgDiv:hover {
    transform: scale(1.05);
  }

.imgDiv >a >img:hover {
    filter: blur(0.5px);
  }

.hideOnMobile{
    display: block;
}

footer{
    background-color: var(--primaryColor);
}


@media only screen and (max-width: 950px) {
    body > section {
      flex-direction: column;
      gap: 20px;
    }
  
    .imgDiv {
      margin-bottom: 20px;
    }

    .hideOnMobile{
        display: none;
    }
  }
  
  .headerBTN:hover {
    background-color: rgba(255, 255, 255, 0.2); /* Add subtle background on hover */
    cursor: pointer;
  }

  


  