*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primaryColor: #1A4D2E;
    --secondaryColor: #4F6F52;
    --bodyColor: #DAC0A3;
}

header{
    background-color: var(--secondaryColor);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px;
}

header > div{
    display: flex;
    align-items: center;
    gap: 40px;
    padding: 10px;
}

.headerFont{
    font-size: larger;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: italic;
    color: #E8DFCA;
}

.headerBTN{
    background-color:#ffffff00;
    border-style: none;
}

.headerBTN:hover{
    cursor: pointer;
}

body{
    background-color: #E8DFCA;
}

body > section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    padding: 40px;
}

.bodyFont{
    font-size: larger;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #0b1b12;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 15px;
}

.titleFont{
    font-size: xx-large;
    font-family: "Roboto", sans-serif;
    font-weight: bolder;
    font-style: normal;
    color: #0b1b12;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 15px;
}

.bodyImg{
    max-width: 70%;
    width: 80%;
    border-radius: 20px;
}

.imgDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    padding: 0;
}

.imgDiv > a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    padding: 0;
}

.imgDiv:hover {
    transform: scale(1.05);
  }

.imgDiv >a >img:hover {
    filter: blur(0.5px);
  }

.imgShowcase{
    max-width: 100%;
    min-width: 320px;
    min-height: 250px;
    width: 40%;
    border-radius: 20px;
    margin: 20px;
}

.imgShowcase:hover{
    transform: scale(1.1);
}

.imgShowcaseDiv{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.imgShowcaseSection{
    display: flex;
    flex-direction: column;
    padding-top: 5px;
}

.projectsShowcase{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.projectsImgShowcase{
    max-width: 100%;
    min-width: 350px;
    min-height: 200px;
    width: 70%;
    border-radius: 20px;
    margin: 20px;
}

.projectsImgShowcase:hover{
    transform:scale(1.05);
}

.hideOnMobile{
    display: block;
}

hr{
    height: 3px;
    border: none;
    background-color: #4F6F52;
}

footer{
    background-color: var(--primaryColor);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px;
}

.footerDiv{
    display: flex;
    align-items: center;
    gap: 40px;
    padding: 10px;
}

h1{
    padding: 20px;
}

.headerBTN:hover {
    background-color: rgba(255, 255, 255, 0.2);
    cursor: pointer;
  }

  .socialMediaSection{
    display: flex;
    flex-direction: column;
    background-color: #F5EFE6;
    padding: 20px;
    align-items: center;
  }

.socialMediaDiv{
    display: flex;
    align-items: center;
    gap: 10px;
}

@media only screen and (max-width: 950px) {
    body > section {
      flex-direction: column;
      gap: 20px;
    }
  
    .imgDiv {
      margin-bottom: 20px;
    }

    .hideOnMobile{
        display: none;
    }

    .bodyImg{
        max-width: 70%;
        min-width: 350px;
        border-radius: 20px;
    }
        
    .imgShowcaseDiv{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }
    .imgShowcase{
        max-width: 100%;
        min-width: 320px;
        min-height: 190px;
        width: 80%;
        border-radius: 20px;
    }

    header > div{
        padding-right: 0;
        gap: 12%;
    }

    }

    .bodyFont{
        font-size: large;
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-style: normal;
        color: #0b1b12;
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 15px;
    }

    
